---
---
@import "minima";

.main-wrapper {
  display: block !important;
  max-width: 1000px !important;
  margin: 0 auto !important;
  padding: 40px 20px !important;
  position: relative !important;
}